/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */
body{
     background: #D3D3D3;
     font: 19px/30px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
     color: #696969;
}

.container{
     width: 1200px;
     margin: 0 auto;
}



/*ヘッダー*/
.header{
    background: #A9A9A9;
    height: 200px;
	width: 1200px;
}
.header h1 {
    text-align: center;
    height:200px;
    line-height:200px;
    font-size: 48px;
    font-weight: bold;
    color: #333333;
}



/*上部ナビゲーション*/
.global-nav__items li{
  float:left;
  width:240px;
}
.global-nav__items a{
  display:block;
  line-height:90px;
  height:90px;
  text-align:center;
  color: #333333;
  font-size: 18px;
  text-decoration: none;
}
.global-nav__items li:nth-child(odd){
	background: #DCDCDC;
}
.global-nav__items li:nth-child(even){
	background: #C0C0C0;
}



/*パンくずリスト*/
.bread-crumbs{
  width:1200px;
  margin:0 auto;
  background: #555555;
}
.bread-crumbs li{
  display: inline-block;
  float:left;
  list-style-type: none;
}
.bread-crumbs:after {
  content: "";
  clear: both;
  display: block;
}
.bread-crumbs a{
  line-height:40px;
  height:40px;
  color: #DCDCDC;
  font-size: 14px;
  text-decoration: none;
}
.bread-crumbs li:first-child:before {
  content:"　　";
}
.bread-crumbs li:after {
  content:"　>　";
  color: #DCDCDC;
}
.bread-crumbs li:last-child:after {
  content: "";
}


/*上部広告バナー*/
.top-ads{
  width:1200px;
  margin:0 auto;
  background: #DCDCDC;
}
.top-ads:after {
  content: "";
  clear: both;
  display: block;
}
.top-ads li{
  float:left;
  width:393px;
}
.top-ads__items a{
    width:372px;
    height:0px;
}
.top-ads__items img{
    width:372px;
    margin:21px 0px 21px 21px;
}



/*左部ナビゲーションエリア*/
.aside{
     width: 400px;
     height: 4221px;
     float: left;
     background: #696969;
}
/*左部広告バナー*/
.aside-ads img{
    margin:20px 20px 0px 20px;
    width:360px;
}
/*ローカルナビ*/
.local-nav__items {
  margin-top: 24px;
}
.local-nav__items a:before {
  content:"　";
}
.local-nav__items a{
  width:360px;
  margin:3px 20px 0px 20px;
  display:block;
  line-height:40px;
  height:40px;
  text-align:left;
  color: #DCDCDC;
  background: #A9A9A9;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
}



/*メインコンテンツ（見出しは別）*/
.main{
     width: 800px;
     float: right;
     background: #F5F5F5;
}
/*リンク色変更*/
a.article__link{ color: #4169E1;}
/*番号なしリスト*/
ul.article__unorder-list{
    margin: 20px;
    list-style-type: disc
}
li.article__unorder-list-item{
    margin: 8px 8px 8px 20px;
}

/*番号ありリスト*/
ol.article__order-list{
    margin: 20px;
    list-style-type: decimal
}
li.article__order-list-item{
    margin: 8px 8px 8px 20px;
}

.article__paragraph{
    margin: 0 20px 20px 20px;
}
strong{
    font-weight: bold;
    color: #333333;
}
p.article__blockquote-paragraph{
    margin:20px;
}

img.article__image{
    width:760px;
    margin-top: 10px;
    margin-left: 20px;
}

/*お問い合わせフォーム*/
div.form{
    background: white;
    height: 1300px;
}
div.form-item{
    margin:20px 20px 20px 120px;
    display: block;
    float: right;
}
label.form-item__label{
    width:180px;
}
input.form-item__text-input{
    border:0;
    padding:10px;
    color:#333333;
    border:solid 2px #ccc;
    margin:0 0 20px 20px;
    width:400px;
    border-radius: 5px;
}
textarea.form-item__textarea{
    border:0;
    padding:10px;
    color:#333333;
    border:solid 2px #ccc;
    margin:0 0 20px 20px;
    width:400px;
    height: 300px;
    border-radius: 5px;
}

ul.form-item__inline-items{
    display: inline-block;
    margin-right: 80px;
    margin-left: 18px;
}
li.form-item__inline-item{
    display: inline-block;
    background: #DCDCDC;
    border-radius: 5px;
    height: 40px;
    line-height:40px;
    width: 100px;
    text-align: center;
    margin-right: 10px;
}

select.form-item__select-pull-down{
    background: #DCDCDC;
    width: 400px;
    height: 30px;
    margin-right: 22px;
    margin-left: 16px
}

select.form-item__select-list{
    background: #DCDCDC;
    width: 400px;
    height: 136px;
    margin-right: 22px;
    margin-left: 16px
}
option.form-item__select-list-option{
    font-size: 16px;
    border:solid 1px #ccc;
}

input.form-item__file{
    background: #DCDCDC;
    width: 400px;
    height: 27px;
    border-radius: 3px;
    border:solid 1px #ccc;
    color:#333333;
    font-size: 16px;
    padding-top: 7px;
    padding-left: 7px;
    margin-right: 15px;
    margin-left: 16px;
}

div.form-item__actions{
    display: inline-block;
}
ul.form-item__actions-items{
    height: 50px;
}
li.form-item__actions-item{
    display: inline-block;
    height: 50px;
}
input.form-item__action{
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    font-size: 16px;
    margin-right: 15px;
}
input.form-item__action.is-submit{
    background: #444444;
    color:white;
    margin-left: 26px;
}
input.form-item__action.is-reset{
    background: #DCDCDC;
}
label{
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    float: left;
}
label.form-item__radio{
    margin-left: 14px;
}
label.form-item__checkbox{
    margin-left: 14px;
}



/*フッターエリア*/
.body{
    overflow: hidden;
}
.footer{
    width: 1200px;
    height: 500px;
    background: #444444;
    bottom: 0px;
}

.footer-nav{
    width: 600px;
    float: left;
}
.about-author{
    width: 580px;
    float: left;
    background: #DCDCDC;
    margin: 30px 20px 30px 0px;
    border-radius: 5px;
}

.about-author__title{
    color: #222222;
    font-weight: bold;
    margin: 20px 0px 0px 20px;
}
.about-author__image{
    float: left;
    margin:20px;
}
.about-author__descriptions{
    width: 380px;
    float: left;
}
/*フッターナビ*/
.footer-nav__items a{
  line-height:20px;
  height:20px;
  text-align:left;
  color: #DCDCDC;
  font-size: 16px;
  text-decoration: none;
}
.footer-nav__items a:before {
  content:" > ";
}
ul.footer-nav__items li {
    list-style-type:none;
    float: left;
    width: 33.33333%;
    margin-top: 10px;
}
ul.footer-nav__items{
    margin-top: 20px;
    margin-left: 20px;
}
/*作者情報*/
img.about-author__image{
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

dl.about-author__descriptions{
    width:420px;
    margin-top: 20px;
    margin-bottom: 20px;
}
dt {
  float:left;
  width:90px;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 16px;
}
dd {
  float:left;
  width:310px;
  margin-left: 10px;
  margin-bottom: 16px;
}

.footer-copyright{
    color: #DCDCDC;
    margin-left:540px;
}



/*見出し一覧*/
h2.main-header__title{
    color: #333333;
    background: white;
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    line-height:100px;
    position: relative;
    border-style: solid;
    border-color: #A9A9A9;
    border-width: 0 0 1px 0;
    position: relative;
    padding-left: 80px;
}
h2.main-header__title:before{
  content: "■";
  position: absolute;
  left:28px;
  top:2px;
}
header.main-header{
    position: relative;
}
header.main-header:before{
  content: "■";
  position: absolute;
  left:30px;
  top:28px;
  color:#999999;
  z-index: 1;
  font-size: 20px;
}
header.main-header:after{
  content: "■";
  position: absolute;
  left:46px;
  top:44px;
  color:#999999;
  font-size: 20px;
}
h2.main-header__title::after {
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	width: 0;
	border-width: 0 44px 44px 0;
	border-style: solid;
	border-color: #DCDCDC #DCDCDC #A9A9A9 #A9A9A9;
	box-shadow: -1px 1px 2px rgba(0, 0, 0, .1);
}
h3.article__title{
    background: #F5F5F5;
    color: #333333;
    font-size: 36px;
    font-weight: bold;
    height: 80px;
    line-height:80px;
    padding-left: 50px;
    position: relative;
}
h3.article__title::before {
	position: absolute;
	left: 25px;
	bottom: 37px;
	content: '';
	width: 12px;
	height: 30%;
	background-color: #999999;
}
h3.article__title::after {
	position: absolute;
	left: 25px;
	bottom: 13px;
	content: '';
	width: 12px;
	height: 30%;
	background-color: #444444;
}
h4.article__sub-title{
    background: #F5F5F5;
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    line-height:50px;
    margin-bottom: 20px;
    padding-left: 50px;
    position: relative;
}
h4.article__sub-title::before{
    content: "▶";
    position: absolute;
    left:21px;
    top:1px;
    font-size: 22px;
}
h4.article__sub-title::after {
	position: absolute;
	left: 17px;
	bottom: 14px;
	content: '';
	width: 5px;
	height: 44%;
	background-color: #444444;
}
h5.article__sub-sub-title{
    background: #F5F5F5;
    color: #333333;
    font-size: 22px;
    font-weight: bold;
    height: 40px;
    line-height:40px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 50px;
    position: relative;
}
h5.article__sub-sub-title::before{
    content: "●";
    position: absolute;
    left:20px;
    top:0px;
    font-size: 15px;
}
h5.article__sub-sub-title::after{
    content: "●";
    color: #D3D3D3;
    position: absolute;
    left:29px;
    top:0px;
    font-size: 15px;
}
h3.form__title{
    background: white;
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    height: 100px;
    line-height:100px;
    margin-top: 30px;
    position: relative;
    padding-left: 80px;
}
h3.form__title:before{
  content: "✉";
  position: absolute;
  left:22px;
  top:-2px;
  font-size: 66px;
}
p.article__blockquote-paragraph{
    padding-left: 40px;
}
